* {
  padding: 0em;
  margin: 0em;
}

body {
  Font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #FFF;
  background-color: white;
}

p {
  font-size: 1.15em;
  line-height: 1.5em;
  padding: 1em 0;
}

h1, h2 {
  font-size: 2.25em;
}

header {
  background-color: #AE1F58;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  max-width: 73em;
  margin: auto;
}

.logo_code_academy {
  padding: .75em;
  float: left;
  max-width: 24em;
}

nav {
  padding-top: 2em;
  float: right;
}

nav li {
  display: inline-block;
  padding: 0.6em 1.25em;
  font-size: .80em;
  font-weight: bold;
}

nav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.15em;
  padding-bottom: .4em;
}

nav a:hover {
  border-bottom: solid .2em white;
}

.clear {
  clear: both;
}

.intro {
   background-color: #EB1767;
   border-bottom: 1px solid #AE1F58;
}

.welcome {
  max-width: 46em;
  margin: 5em auto;
}

.welcome h1 {
  padding: 2.5em 0 0 0;
}

.theironyard_smashingboxes, .theironyard_smashingboxes2 {
  margin: auto;
  text-align: center;
}

.theironyard_smashingboxes img {
  max-width: 55em;
  width: 100%;
  padding: 3em 0;
  display: block;
  margin: auto;
}

.apply_button,
.submit_button {
  transition: color,background-color 0.5s ease;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #AE1F58;
  padding: 1.25em 1em;
  border-radius: .3em;
  display: inline-block;
  margin: 1em 0 4em 0;
}

.apply_button:hover, .submit_button:hover {
  color: #EB1767;
  background-color: white;
}

.fw_bg {
  background: #444 url(http://academy.smashingboxes.com//assets/timeline_bg-c6df24fc8cdea898ad4491ad758fdbe7.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.what-is-this {
  margin: 0 auto;
  padding:10em 0;
  max-width: 46em;
}

.courseflow {
  background-color: #292627;
  padding: 1em 0;
  overflow: auto;
}

.courseflow_bg_white {
  transition: all 0.5s ease;
  background: white;
  max-width: 52em;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
}

.courseflow_bg_white:hover {
  background: #AE1F58;
  height: 70%;
}

/*.courseflow_bg_slide {
  transition: all 0.5s ease;
  height: 70%;
}*/


.courseflow_diagram {
  width:100%;
  max-width: 52em;
  text-align: center;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.about, .apply {
  max-width: 46em;
  margin: 3em auto;
  color: #4c4c4e;
}

.about h2, h3 {
  text-transform: uppercase;
  padding: 1em 0;
}

h3 {
  font-size: 1.5em;
}
.about a, .call-to-action a {
  color:#EB1767;
  text-decoration: none;
  font-weight: bold;
}

.about a:hover {
  color:#e3e3e3;
}

.course a {
  font-weight: normal;
}


tr:hover {

}

hr {
  margin: 3em;
}

.mentor_faces {
  text-align:center;
  max-width: 46em;
}

.about li {
  display: inline-block;
  text-align: center;
  padding: .75em;
  max-width: 9em;
}

.about li img {
  max-width: 8em;
}

h4 {
  font-size: 1.2em;
  padding: .3em;
  font-weight: 500;
  color:#EB1767;
}

h4:hover {
  color:#e3e3e3;
}

h5 {
  font-size: .6em;
}

.call-to-action {
  background-color:#f4f4f4;
  overflow: auto;
}

.apply h2 {
  text-transform: uppercase;
  padding: 1em 0 1em 0;
}

.course-calendar {
  padding-bottom: 4em;
  margin: 0 auto;
  max-width: 46em;
  width: 100%;
  border-color: #999;
  border-collapse: collapse;
}

/*.course-calendar a {
  font-weight: 400;
}*/

thead {
  background: #999;
  font-size: .65em;
  padding;
  color: white;
  border: #999;
  text-align: left;
}

th {
  padding: 1em 2em;
}

td {
  text-align: left;
  font-size: .9em;
  padding: 1.5em 2em;
}

.last_cell {
  border-radius: 0 .4em .4em 0;
}

.first_cell {
  border-radius: .4em .0 0 .4em;
}

.table_button {
  background: #EB1767;
  border-radius: .3em;
  padding: .9em 1.4em;
  font-color: white;
  text-transform: uppercase;
  font-size: .8em
}

.last_cell .table_button {
  color:white;
}
.map {
  background-image: url(http://academy.smashingboxes.com/assets/smashing_academy_map-af7e66d0b42cb911ae927a7e6e4ed9d1.png);
  background-size: cover;
  position: relative;
  overflow: auto;
  min-height: 40em;
  padding: 0;
}

.overlay {
  min-width: 50%;
  height: 100%;
  background: rgba(235, 23, 103, .7);
  position: absolute;
  right: 0;
  float:left;
}

.contact {
  padding: 5em 10em;
}

.contact ul {
  list-style-type: none;
}

.contact-icon {
  float: left;
  padding: 1em;
}

.contact-info {
  display:inline;
  float: left;

}

footer {
  width: 100%;
  background-color: #292627;
  height: 100%;
  min-height: 10em;
  overflow: auto;
}

.footer-bar {
  max-width: 73em;
  margin: auto;
  overflow: auto;
}

.logo_bottom {
  vertical-align: middle;
}

.logo_bottom li {
  display: inline-block;
  padding: .3em;
  vertical-align: middle;
  color: #4c4c4e;
  font-size: .9em;
}

.newsletter {
  text-align: center;
  display: inline;
  position: relative;
}

.social {
  padding-top: 2em;
  float: right;
}

.social li {
  display: inline-block;
  padding: 0.6em .75em;
}

.modal {
  background: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.modal-dialog {
  background: #fefefe;
  border-radius: 1em;
  margin: 30em auto;
  position: fixed;
  top: 52em;
  left: 50%;
  width: 52em;
  margin-left:-52rm;
  top: 40%;
  z-index: 200;
  height: 40em;
}
